.loginDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 300px;
  border-radius: 30px;
  background-color: aqua;
  padding: 20px;
}

.userNameInputDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.submitBtnDiv {
  width: 100%;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
}
